extends ./layout.pug

block contenido
		.article-clean
			.container
				.row
					.col-lg-10.col-xl-8.offset-lg-1.offset-xl-2
						.intro
							nav.navbar.navbar-light.navbar-expand-md.navigation-clean(style='background-color: rgb(244,216,71);')
								.container
									a.navbar-brand(href='event', style="font-family: 'Sawarabi Gothic', sans-serif;") MEETUS
									button.navbar-toggler(data-toggle='collapse', data-target='#navcol-1')
										span.sr-only Toggle navigation
										span.navbar-toggler-icon
									#navcol-1.collapse.navbar-collapse
										ul.nav.navbar-nav.ml-auto
											li.nav-item(role='presentation')
												a.nav-link.active(href='event') Eventos sugeridos
											li.nav-item(role='presentation')
												a.nav-link(href='user') Perfil
											li.nav-item(role='presentation')
							h1.text-center OPERA DE NUEVA YORK
							img.img-fluid(src='../public/img/img2.jpeg', style='width: 323px;')
						.text
							p(style='font-size: 12px;')
								br
								|10 títulos imperdibles de todas las épocas protagonizan la Temporada 2019–2020 de la Metropolitan Opera de Nueva York en salas de Cine Colombia. Desde poderosos clásicos de Puccini como ‘Madama Butterfly’ hasta la legendaria música de ‘Porgy y Bess de los Gershwin’, pasando por Donizetti, Philip Glass y Wagner, esta nueva oferta tiene algo para todos los gustos.
								br
								br
								|Para ese fin, cuenta con 5 nuevas producciones: 'Akenatón', la audaz ópera egipcia de Philip Glass; el deslumbrante montaje de William Kentridge para 'Wozzeck' liderado por Peter Mattei; una nueva versión de clásico estadounidense 'Porgy y Bess de los Gershwin'; la obra maestra barroca 'Agripina' de Händel, cantada por una experta: Joyce DiDonato; y una nueva mirada a 'El holandés errante' de Wagner cantada por Sir Bryn Terfel.
								br
								br
								|Viene acompañada de algunos de los títulos más íconicos del repertorio: la exuberante 'Manon' de Massenet; el montaje inspirado por el teatro kabuki japonés de Anthony Mighella creado para 'Madama Butterfly'; la gran diva del Met, Anna Netrebko, en el papel principal de 'Tosca'; y la regia Diana Damrau en un rol hecho para la realeza operática: ‘María Estuardo’ de Donizetti. Entre la tradición y la innovación, esta nueva temporada promete sacudir los esquemas y satisfacer a todos los amantes del drama musical.
							h2 ¿Cómo llegar?
							figure
						iframe(allowfullscreen='', frameborder='0', src='https://www.google.com/maps/embed/v1/place?key=AIzaSyCT5rhntcjwREEOMjOcK93dOKc8Shzucos&q=Colombia%2CPereira&zoom=11', width='100%', height='400')
		script(src='../public/js/jquery.min.js')
		script(src='../public/bootstrap/js/bootstrap.min.js')

