html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Meetus
        link( rel="icon" type="image/png" sizes="500x500" href="../public/img/MeetusLogo.png")
        link( rel="icon" type="image/png" sizes="500x500" href="../public/img/MeetusLogo.png")
        link( rel="icon" type="image/png" sizes="500x500" href="../public/img/MeetusLogo.png")
        link( rel="icon" type="image/png" sizes="500x500" href="../public/img/MeetusLogo.png")
        link( rel="icon" type="image/png" sizes="500x500" href="../public/img/MeetusLogo.png")
        link( rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css")
        link( rel="manifest" href="../manifest.json")
        link( rel="stylesheet" href="../public/fonts/font-awesome.min.css")
        link( rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic")
        link( rel="stylesheet" href="../public/css/Login-Form-Clean.css")
        link( rel="stylesheet" href="../public/css/Navigation-Clean.css")
        link( rel="stylesheet" href="../public/css/Navigation-with-Search.css")
        link( rel="stylesheet" href="../public/css/Registration-Form-with-Photo.css")
        link( rel="stylesheet" href="../public/css/styles.css")
        script(src="../public/js/jquery.min.js")
        script(src="../public/bootstrap/js/bootstrap.min.js")
    body
        block contenido